ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: bisque;
    position: fixed;
    top: 5px;
    width: 98.7%;
}

ul li {
    float: left;
}

ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul li a:hover {
    background-color: burlywood;
    color: black;
}

body {
    font-family: Arial, sans-serif;
    background-color: white;
    text-align: center;
    margin: 10px;
}

img {
    max-width: 100%;
    max-height: 100%;
}
.profile {
    margin-top: 5%;
    display: grid;
    grid-template-columns: 70% 1fr;
    grid-template-rows: 1fr;
    gap: 5px 5px;
    justify-content: start;
}

.item {
    padding: 10px;
    margin-top: 5%;
}

.item:nth-child(1) {
    grid-column: 1;
}

.item:nth-child(2) {
    grid-column: 2; 
}

.item h2 {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 8px 0;
    font-size: 20px;
    margin-top: 20%;
}

.item p {
    font-size: min(1.5vw);
}

ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: min(1.5vw);
}

hr {
    border:0; 
    height:70px; 
    background:url("pics/Divider.jpg") 0 0;
}